# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
out/
.vscode/settings.json
submod/glm/
submod/sdl/
submod/spdlog/
submod/imgui

vs22/
/cmake-build-debug
/cmake-build-release
/.idea
doodle.log
