[submodule "submod/glm"]
	path = submod/glm
	url = https://github.com/g-truc/glm.git
[submodule "submod/sdl"]
	path = submod/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "submod/spdlog"]
	path = submod/spdlog
	url = https://github.com/gabime/spdlog.git
